{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css"
    />
    <link
      rel="stylesheet"
      href="{% static 'gym/style.css' %}"
      type="text/css"
    />
    <title>Gym Fit</title>
  </head>
  <body>
    <header>
      <nav class="nav">
        <h3 class="logo">Gym Fit</h3>
        <ul class="list">
          <li class="list__item">
            <a href="/trainer1" , name="Trainer" , value="Trainer"> Trainer </a>
          </li>
          <li class="list__item">
            <a href="/receptionist1" , name="Employee" , value="Employee">Receptionist</a>
          </li>
          <li class="list__item">
            <div class="butt">
              <a href="/client1" , name="Client" , value="Client">Client</a>
            </div>
          </li>
        </ul>
      </nav>
    </header>

    <section>
      <div class="hero">
        <div class="box"></div>
        <img src="{% static 'gym/images/hero.jpg' %}" />
        <div class="headline">
          This is not a sprint, <br />
          this is a marathon
        </div>
      </div>
    </section>
  </body>
</html>
