{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css"
    />
    <link
      rel="stylesheet"
      href="{% static 'myapp/recep_style.css' %}"
      type="text/css"
    />
    <title>Receptionist Page</title>
</head>

<body>

    <h1 class="greeting"> Hello{% if receptionist.is_senior_receptionist == True%} Senior Receptionist{%else%} Junior Receptionist{% endif %}, {{receptionist.personal_data.first_name}}!</h1>

    {% comment %} <article class="active_memberships">
    <h1> Active memberships </h1>
        {% for act_member in active%}
      
        <div class="active_member">
            {{act_member.first_name}}  {{act_member.expiry_date}}
        </div>
   
        {% endfor %}
    </article> {% endcomment %}
    <div class="container">

        <article class="shopMenagement">
            <h2> Items in shop: {{shop.shop_name}} </h2>
            <form method="post">
            {% csrf_token %}
            {% for shopItem in shopItems %}
                    
                        
                <div class="shop__product">
                    <div style="width: 13vw">{{shopItem.product.product_name}}</div> <div style="width: 13vw">{{shopItem.product.product_price}}zł</div>  <input type="checkbox", class = "check", value="clicked" name="c{{shopItem.listing_id}}"/>
                </div>
                        
            {% endfor %}
            <button type="submit", value="delProd", name="delProd"> Delete Products </button>
            </form>
        </article>

        <div class="sizedBox"> </div>

        <article class="productsList">
            <h2> Products to add </h2>
            <form method="post">
            {% csrf_token %}
                {% for product in products %}
                    <div class="productItem">
                        {{product.product_name}} <input type="checkbox", class = "check", value="clicked" name="c{{product.product_id}}"/>
                    </div>
                {% endfor %}
                <button type="submit", value="addProd", name="addProd"> Add Products </button>
            </form>
        </article>

        
    </div>

    <div class="container2">
        
        <article class="active">
        <h2> Active memberships </h2>
            {% for act in active %}
                <div class="active_person"> <div class="data">{{act.member.personal_data.first_name}} {{act.member.personal_data.last_name}} </div> {{act.membership.membership_type}} {{act.expiry_date}}</div>
            {% endfor %}
        </article>
    </div>

</body>