{% extends 'myapp/main_form.html' %}
{% load static %}

{% block mainform %}

<a href="{% url 'index' %}" class="back">< back</a>
    <form method="POST", action="">
    {% csrf_token %}

        <h1>Register</h1>
        <input autoComplete="off" type="username" name="email" placeholder="Email...">
        <input autoComplete="off "type="password" name="password" placeholder="Password...">
        {% for message in messages %}
            <p id="messages">{{message}}</p>
        {% endfor %}
        <button type="submit" class="login">Login</button>

        <p>Already have an account? <a class="link" href="{% url 'login' %}">Login here</a></p>

    </form>

{% endblock mainform %}