/* .navbar {
  padding: 20px 20px;
  margin: 0 3rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.66);
}

.logo {
  color: white;
  font-family: Fira Code;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
}

.item {
  font-family: Fira Code;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.79);
  text-decoration: none;
  margin: 1rem;
  padding: 10px 20px;
}

.item:hover {
  background-color: #4f9acf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 45px;
} */

.navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.66);
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  z-index: 10;
}

.item {
  font-family: Fira Code;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.79);
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 0 2rem;
  padding: 10px 20px;
  /* height: 100%; */
  cursor: pointer;
}

.nav-menu > .item:hover {
  background-color: #4f9acf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 45px;
}

.toggle-button {
  color: rgba(255, 255, 255, 0.79);
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-100%, 90%);
  font-size: 1.8rem;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.item-mobile {
  font-family: Fira Code;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.79);
  text-decoration: none;
  cursor: pointer;
  margin: 1.5rem 6rem;
  /* margin: 1.5rem 2rem; */
  text-align: center;
  padding: 15px 20px;
  /* padding: 5px 20px; */
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.66);
  /* float: left;
  clear: left; */
}

.item-mobile:last-child {
  border-bottom: none;
}

.nav-mobile-menu {
  background-color: #333333;
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  min-height: 40%;
  z-index: 50;
}

.mobile-menu-mask {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  cursor: pointer;
}
