* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Fira Code", sans-serif;
}

.logout {
        position: absolute;
        text-align: center;
        padding-top: 10px;
        top: 10px;
        right: 100px;
        text-decoration: none;
        margin: 50px 50px;
        width: 200px;
        height: 50px;
        border-radius: 45px;
        border: none;
        background-color: #4F9ACF;
        color: white;
        font-size: 20px;
        font-weight: normal;
        filter: drop-shadow(2px 3px 2px gray);
        cursor: pointer;
}

.greeting {
    margin-left: 100px;
    margin-top: 45px;
    font-size: 72px;
    font-weight: normal;
}


.artic {
    height: fit-content;
    margin-bottom: 40px;

    .shop {
        margin-right: auto;
        margin-left: auto;
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 80vw;


        img {
            height: 70vh;
        }

        h1 {
            font-size: 36px;
            font-weight: normal;
            text-align: center;
            margin-bottom: 70px;
        }

        .shop__product {
            margin-top: 40px;
            width: 40vw;
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            font-size: 22px;
            color: black;

            .buyBttn {
                background-color: none;
                width: fit-content;
                height: fit-content;
            }
        }
    }
}

.sizedBox {
    margin-left: auto;
    margin-right: auto;
    width: 86vw;
    height: 1px;
    background-color: gray;
}


.art {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 90vw;
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    -ms-flex-align: start;
}


.trainers {


    h3 {
        font-size: 36px;
        font-weight: normal;
        margin-bottom: 50px;
    }

    p {
        font-size: 24px;
        margin-top: 35px;
    }

    ul {
        list-style: none;

        li {
            margin-left: 200px;
            font-size: 18px;
            margin-top: 10px;
        }
    }

    button {
        margin-left: 30%;
    }
}

.group_train {
    text-align: center;
    .section {
        margin-top: 50px;
        width: 45vw;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    h3 {
        font-size: 36px;
        font-weight: normal;
        margin-bottom: 50px;
    }

    h2 {
        font-size: 24px;
        font-weight: normal;
    }

    p {
        font-size: 18px;
    }
}

.check {
    position: relative;
    border-radius: 0px;
    padding: 7px;
    border: 1px solid black;
    -webkit-appearance: none;
}

.check:active, .check:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.check:checked {
    content: '\2714';
	background-color: white;
	border: 2px solid black;
    padding: 6px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: black;
}

.check:checked:after {
	content: '\2714';
    position: absolute;
    z-index: 99;
    bottom: -2px;
    right: 0px;
	font-size: 14px;
	color: black;
}

button {
    margin: 100px 0px;
    width: 150px;
    height: 40px;
    border-radius: 45px;
    border: none;
    background-color: #4F9ACF;
    color: white;
    font-size: 20px;
    font-weight: normal;
    filter: drop-shadow(2px 3px 2px gray);
    cursor: pointer;
}