* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Fira Code", sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

    .sizedBox {
        margin-left: auto;
        margin-right: auto;
        width: 1px;
        height: 90vh;
        background-color: gray;
    }
}

.logout {
        position: absolute;
        text-align: center;
        padding-top: 10px;
        top: 10px;
        right: 100px;
        text-decoration: none;
        margin: 50px 50px;
        width: 200px;
        height: 50px;
        border-radius: 45px;
        border: none;
        background-color: #4F9ACF;
        color: white;
        font-size: 20px;
        font-weight: normal;
        filter: drop-shadow(2px 3px 2px gray);
        cursor: pointer;
}

.container2 {
    font-family: "Fira Code", sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 95vw;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;

    h2 {
        font-size: 36px;
        font-weight: normal;
        margin-bottom: 50px;
    }

    .active_person {
        font-weight: 14px;
        margin-bottom: 30px;
        margin-left: 20px;
        width: 45vw;


        .data {
            width: 15vw;
            font-size: 18px;
            font-weight: 500;
        }
    }

    .addMembership {
        width: 45vw;
        text-align: center;
        .cont {
            display: flex;
            align-items: center;
            justify-content: space-between;

            h3 {
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 30px;
            }

            .members {

                div {
                    margin-bottom: 15px;
                    display: flex;
                    justify-content: space-between;

                    input {
                        margin-left: 10px;
                    }
                }
            }

            .memberships {

                div {
                    margin-bottom: 15px;
                    display: flex;
                    justify-content: space-between;

                    input {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

h1 {
    font-size: 62px;
    font-weight: normal;
    margin: 50px 0 100px 100px;
}

.productsList {
    width: 50vw;
    text-align: center;


    h2 {

        font-size: 36px;
        font-weight: normal;
        margin-bottom: 70px;
    }

    .productItem {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 25vw;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        font-size: 16px;
    }
}

.shopMenagement {
    width: 50vw;
    margin-left: 50px;
    margin-bottom: 50px;
    text-align: center;

    h2 {
        font-size: 36px;
        font-weight: normal;
        margin-bottom: 70px;
    }

    .shop__product {
        margin-top: 30px;
        width: 40vw;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        font-size: 16px;
        color: black;
    }
}


.check {
    position: relative;
    border-radius: 0px;
    padding: 9px;
    border: 1px solid black;
    -webkit-appearance: none;
}

.check:active, .check:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.check:checked {
    content: '\2714';
	background-color: white;
	border: 2px solid black;
    padding: 8px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: black;
}

.check:checked:after {
	content: '\2714';
    position: absolute;
    z-index: 99;
    bottom: -2px;
    right: 2px;
	font-size: 16px;
	color: black;
}

button {
    margin: 50px auto 50px auto;
    width: 150px;
    height: 40px;
    border-radius: 45px;
    border: none;
    background-color: #4F9ACF;
    color: white;
    font-size: 14px;
    font-weight: normal;
    filter: drop-shadow(2px 3px 2px gray);
    cursor: pointer;
}