* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Fira Code", sans-serif;
}

h1 {
    font-size: 62px;
    font-weight: normal;
    margin: 50px 0 100px 100px;
}

.shopMenagement {
    width: 40vw;
    margin-left: 50px;
    margin-bottom: 50px;
    text-align: center;

    h2 {
        font-size: 36px;
        font-weight: normal;
        margin-bottom: 70px;
    }

    .shop__product {
        margin-top: 30px;
        width: 40vw;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        font-size: 16px;
        color: black;
    }
}


.check {
    position: relative;
    border-radius: 0px;
    padding: 9px;
    border: 1px solid black;
    -webkit-appearance: none;
}

.check:active, .check:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.check:checked {
    content: '\2714';
	background-color: white;
	border: 2px solid black;
    padding: 8px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: black;
}

.check:checked:after {
	content: '\2714';
    position: absolute;
    z-index: 99;
    bottom: -2px;
    right: 2px;
	font-size: 16px;
	color: black;
}

button {
    margin: 50px auto 50px auto;
    width: 150px;
    height: 40px;
    border-radius: 45px;
    border: none;
    background-color: #4F9ACF;
    color: white;
    font-size: 14px;
    font-weight: normal;
    filter: drop-shadow(2px 3px 2px gray);
    cursor: pointer;
}